[safe]
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
	directory = /mnt/usb_hdd1/Projects/sing-chisel-tel
[user]
	name = Semaphore
	email = semaphore@localhost
